<div style="background-color:orange">
    <h2>子コンポーネント</h2>
    <div>
        Height:@Height cm, Weight:@Weight kg
    </div>
    <div>
        BMI:@result
    </div>
    <button class="btn btn-primary" onclick="clickCalc">計算する</button>
</div>
@code {
    private double Height { get; set; } = 165.2;
    private double _Weight { get; set; } = 62.54;
    private double result { get; set; }
    [Parameter]
    public double Weight
    {
        get => _Weight;
        set
        {
            _Weight = value;
            this.result = Weight / ((Height / 100) * (Height / 100));
        }
    }
    [Parameter]
    public EventCallback<double> WeightChanged { get; set; }
}
