@page "/bmi"

<h3>Bmi</h3>
<table>
    <tr>
        <td>nama</td>
        <td>@name</td>
    </tr>
    <tr>
        <td>height</td>
        <td>@height</td>
    </tr>
    <tr>
        <td>weight</td>
        <td>@weight</td>
    </tr>
</table>
<div style="font-size: @fontsize">
    calculate: @bmi
</div>

@code {
    private String name = "mitsuharu imamura";
    private const double height = 165.0;
    private const double weight = 60.0;
    private double bmi = weight / ((height / 100.0) * (height / 100.0));
    private const String fontsize = "32px";
}
