@page "/bmi"

<h3>シンプルな表示</h3>
<table class="table">
    <tr>
        <td>名前</td>
        <td>@name</td>
    </tr>
    <tr>
        <td>身長</td>
        <td>@height</td>
    </tr>
    <tr>
        <td>体重</td>
        <td>@weight</td>
    </tr>
</table>
<div style="font-size: @fontsize">
    計算結果は @bmi です。 
</div>

@code {
    private String name = "mitsuharu imamura";
    private const double height = 165.0;
    private const double weight = 60.0;
    private String bmi = $"{weight / ((height / 100.0) * (height / 100.0)):F0}";
    private const String fontsize = "32px";
}
